@font-face {
    font-family: "cursorGothic_Regular";
    src: url(/assets/CursorGothic_Regular-s.p.a361088d.woff2);
}
@font-face {
    font-family: "cursorGothic_bold";
    src: url(./assets/CursorGothic_Bold-s.p.95169710.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    /* height: 100%; */
    width: 100%;
    background-color: #14120B;
}

nav{
    display: flex;
    min-height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    font-size: 14px;
    font-family: "cursorGothic_Regular";
    background-color: #14120B;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .top-left-img{
    display: flex;
    align-items: center;
}
nav .top-left-img .icon{
    height: 2rem;
}
nav .top-left-img img{
    height: 1rem;
    color: white;
}

nav .middle-items ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
nav .middle-items ul li{
    text-decoration: none;
}
nav .middle-items ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

nav .top-right-items{
    display: flex;
    gap: 12px;
    align-items: center;
}

nav .top-right-items .first{
    border-radius: 50px;
    padding: 5.6px 10.5px 3.88px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #EDECEC;
    color: #EDECEC;
}


nav .top-right-items .second{
    border-radius: 50px;
    padding: 5.6px 13.5px 3.88px;
    font-size: 14px;
    background-color: #EDECEC;
    border: none;
    color: #14120B;
}
main{
    padding: 1rem 8rem;
}
main .section-1{
    font-family: "cursorGothic_bold";
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .section-1 p{
    font-family: "cursorGothic_Regular";
    margin-top: 6rem;
    color: #EDECEC;
    font-size: 23px;
}

main .section-1 button{
    border-radius: 50px;
    padding: 12.48px 21.6px 12.8px;
    font-size: 16px;
    background-color: #EDECEC;
    border: none;
    color: #14120B;
    width: fit-content;
}

main .section-1 img{
    margin-top: 12px;
    border-radius: 12px;
    height: 45rem;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:4rem 0px ;
}

.section-2 p {
    color: #ffffff;
    font-family: "cursorGothic_Regular";
    text-align: center;
    font-size: 1rem;
}

.logo-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.logo {
    width: 9rem;
    height: 5.2rem;
    background-color: #1B1913;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 2.6rem;
}


.section-3{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.section-3 .sec3-container{
    background-color: #1B1913;
    display: flex ;
    align-items: center;
    border-radius: 12px;
    color: white;    
}

.sec3-container .text-section{
    padding: 1rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
}
.sec3-container .text-section .first-text{

    font-family: "cursorGothic_bold";
    font-size: 22px;
}

.sec3-container .text-section .second-text{
    font-family: "cursorGothic_Regular";
    color: grey;
    font-weight: 400;
}

.sec3-container .text-section p{
    font-family: "cursorGothic_Regular";
    color: #F54E00;
}

.section-3 .sec3-container .image-section img{
    height: 100%;
    padding: 1rem ;
    width: 100%;
    border-radius: 3%;
}